<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />

  <title>Student Portal - NUS Student's Computing Club</title>
  <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Inconsolata:400,700|Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'student/base', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    params[:controller], media: 'all' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag params[:controller], media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'student/shared/header' %>

  <div class='row full-width'>
    <%= render 'student/shared/sidebar' %>

    <%= yield %>
  </div>

  <%= render 'student/shared/footer' %>
</body>
</html>
